<div>
  <a href="/#/second/{{sum}}">Second Page</a>
  <a href="/#/third">Third Page</a>
</div>
<h3>{{ title }}</h3>
<p ng-bind="::getDataVal"></p>
<!-- <p subtitle-message></p> -->
<div>
  <subtitle-message>
    <p>ng transclude content show up</p>
  </subtitle-message>
</div>
<input type="number" ng-model="::val1">
<input type="number" ng-model="::val2">
<button ng-click="doubleAndSum()">Get sum value</button>
<button onClick="btnClick()">Sum by using $apply</button>
<p ng-bind="sum"></p>
<hr/>
<form>
  <input type="text" ng-model='username'>
  <input type="number" ng-model='age'>
  <input type="text" ng-model='hobby'>
  <button type="button" ng-click="previewData()">Preview</button>
</form>
<form-data>
  <p>ng transclude content show pls ...</p>
</form-data>

<!-- Peomise Understanding -->
<p>Result</p>
Add Result: <h3 ng-bind="promiseResponse"></h3>
Add Time Cost: <p ng-bind="triggerTime"></p>
<input type="number" ng-model="firstVal" />
<input type="number" ng-model="secondVal" />
<button ng-click="triggerAdd()">Start Add</button>